In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv("./data_AbundanceRow14_C_IV.txt", sep = " ")
df2 = pd.read_csv("./data_AbundanceRow16_C_IV.txt", sep = " ")
df2.head()

,Unnamed: 0,name,wave,redshift,col_dens,delta_v,vel_dispersion,interval_start,interval_end,density,temperature,metallicity,lightray_index
0,0,C IV,1548.187,2,14.187713,-128.345174,58.087965,47,95,1.556381e-25,10140.984318,0.138646,0
1,1,C IV,1548.187,2,13.375357,-82.951377,NaN,118,119,3.299297e-26,16765.383096,0.233818,0
2,2,C IV,1548.187,2,13.259416,-72.220699,5.356098,121,123,2.653027e-26,88839.550965,0.265431,0
3,3,C IV,1548.187,2,14.021113,-69.265520,4.190057,124,127,2.798542e-26,72039.735420,0.249469,0
4,4,C IV,1548.187,2,14.434068,-17.676918,82.247335,134,142,1.678091e-25,13485.813781,0.280883,0

In [4]:
df1_work=df1[df1["lightray_index"]==1] ##filter to only ray1
df2_work=df2[df2["lightray_index"]==1]

df1_clumps = df1_work[["interval_start","interval_end"]] ##filter to only indexes
df2_clumps = df2_work[["interval_start","interval_end"]]

In [7]:
print(df1_clumps)
print(df2_clumps)

    interval_start  interval_end
14             164           174
15             181           208
16             208           251
17             345           358
18             390           425
19             442           785
20             795           873
21             881           892
22             892           901
23             905           920
24             934           937
25             973           986
26             988           999
27            1000          1011
28            1102          1136
29            1149          1162
30            1197          1206
31            1242          1252
32            1467          1475
33            1550          1562
    interval_start  interval_end
15             164           174
16             181           208
17             208           251
18             345           358
19             390           425
20             442           785
21             795           873
22             881           892
23             892           901
24             905           920
25             934           937
26             973           986
27             988           999
28            1000          1011
29            1102          1136
30            1149          1162
31            1197          1206
32            1242          1252
33            1467          1475
34            1550          1562

In [8]:
df1_st = np.asarray(df1_clumps["interval_start"])
df2_st = np.asarray(df2_clumps["interval_start"])
df1_en = np.asarray(df1_clumps["interval_end"])
df2_en = np.asarray(df2_clumps["interval_end"])

match = {} ##create dictionaries to store indexes of clumps that correspond to one another
slight_off = {}
merge = {}
split = {}

err = 3 ##set allowable amount of error
for i in range(len(df1_clumps)):
    n = i
    for j in range(len(df2_clumps)):
        split_inst = []
        merge_inst =[]
        if df1_en[n] == df2_en[j] and df1_st[n] == df2_st[j]:
            match[str(n)] = j
            n += 1

        elif ((df2_en[j] - err) <= df1_en[n] <= (df2_en[j] + err)) or ((df2_st[j] - err) <= df1_st[n] <= (df2_st[j] + err)):
            slight_off[str(n)] = j
            n += 1

      ##elif ((df1_st[n] == df2_st[j]) and (df1_en[n] != df2_en[j]) or (df1_en[n] == df2_en[j] and df1_st[n] != df2_st[j]) or
        elif (df2_st[j] >= df1_st[n]) and (df2_en[j] <= df1_en[n]):
            split_inst.append(j)
            if df1_en[n] == df2_en[j]:
                split[str(n)]= split_inst
                split_inst =[]
                n+=1
            else:
                continue
        elif df1_st[n] >= df2_st[i] and df1_en[n] <= df2_en[i]:
            merge_inst.append(j)
            if df1_en[n] == df2_en[j]:
                merge[str(n)]= merge_inst
                merge_inst =[]
                n+=1
            else:
                continue        
print(match)
print(slight_off)
print(merge)
print(split)

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10, '11': 11, '12': 12, '13': 13, '14': 14, '15': 15, '16': 16, '17': 17, '18': 18, '19': 19}
{}
{}
{}

In [79]:
slight_off

{'2': 2, '4': 5, '5': 37}

In [67]:
print(df2_st)

[ 164  181  208  345  390  442  795  881  892  905  934  973  988 1000
 1102 1149 1197 1242 1467 1550]